
packages/

\.vs/

\.idea/

GevorderdProgrammerenPracticumWeek4/bin/

GevorderdProgrammerenPracticumWeek4/obj/

GevorderdProgrammerenPracticumWeek4\.Tests/bin/

GevorderdProgrammerenPracticumWeek4\.Tests/obj/

StackStuff/bin/

StackStuff/obj/
